h2{
color:blueviolet;
}


.kk{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

#jj{
    color: coral;
}
#signimHeader{
    font-family: sans-serif;
}
.Buxa{
    background-color: blue;

}
a{
    color: brown;
}
a:visited{
        
}
a:unvisited{ color: rgb(177, 27, 27);
    
}
